html, body {
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-size: 20px;
  color: #000;
  background-color: #fbfaf8;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.header-section {
  display: flex;
  align-items: center;
  flex-direction: column;
}

.logo {
  display: block;
  margin: 0px auto;
  width: 100px;
  height: 100px;
  margin-top: 60px;
  border-radius: 23px;
  border: .5px solid #c4c4c4;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, .04);
}


.main-heading {
  font-weight: 700;
  font-size: 32px;
  color: #1a1c1f;
  text-align: center;
  margin: 26px auto;
  max-width: 650px;
  width:650px;
  min-width: 650px;
}


.apple-button {
  text-align: center;
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  gap: 12px;
  position: relative;
  margin: 0px auto 0px auto;
  height: fit-content;
  width: fit-content;
}

.apple-button img {
  margin: 0px;
}


/*..................................................frame 1...........................*/

.white-frame {
  background-color: #fbfbfb;
  border: 0.5px solid #ccc;
  width: 976px;
  min-width: 976px;
  max-width: 976px;
  height: 440px;
  border-radius: 40px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  margin: 60px auto 0px auto;
}

.screenshot {
  width: 318px;
  height: 340px;
  align-self: last baseline;
  margin-left: 80px;
}

.screenshot-para {
  font-size: 22px;
  color: #808084;
  line-height: 1.6;
  position: relative;
  margin: auto 0px auto 20px;
  min-width: 438px;
  max-width: 438px;
  width: 438px;
}

.b1 {
  color: #000
}

/*..................................................frame 2...........................*/
.frame2 {
  background-color: #fff;
  border: 0.5px solid #ccc;
  width: 976px;
  min-width: 976px;
  max-width: 976px;
  height: 440px;
  border-radius: 40px;
  display: flex;
  align-items: flex-start;
  gap: 50px;
  position: relative;
  margin: 40px auto 0px auto;
 
}

.s2 {
  width: 318px;
  height: 340px;
  align-self: last baseline;
  margin-left: 20px;
}

.para2 {
  font-size: 22px;
  color: #808084;
  line-height: 1.6;
  position: relative;
  margin: auto 0px auto 60px;
  min-width: 438px;
  max-width: 438px;
  width: 438px;
}

.b2 {
  color: #000
}


/*..................................................frame 3...........................*/

.frame3 {
  background-color: #fff;
  border: 0.5px solid #ccc;
  width: 976px;
  min-width: 976px;
  max-width: 976px;
  height: 440px;
  border-radius: 40px;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 40px auto 0px auto;

}

.s3 {
  width: 318px;
  height: 388px;
  align-self: last baseline;
  position: relative;
  margin: 0px 0px 0px 80px;
}

.para3 {
  font-size: 22px;
  color: #808084;
  line-height: 1.6;
  position: relative;
  margin: 121px 0px 0px 70px;
  width: 438px;
  max-width: 438px;
  min-width: 438px;

}

.b3 {
  color: #000
}


/*..................................................frame 4...........................*/

.frame4 {
  background-color: #fff;
  border: 0.5px solid #ccc;
  width: 976px;
  min-width: 976px;
  max-width: 976px;
  height: 440px;
  border-radius: 40px;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 40px auto 0px auto;

}

.s4 {
  width: 318px;
  height: 340px;
  align-self: last baseline;
  margin-left: 0px;
  position: relative;
  margin: 0px 0px 0px 80px;
}

.para4 {
  font-size: 22px;
  color: #808084;
  line-height: 1.6;
  position: relative;
  margin: auto 0px auto 60px;
  width: 438px;
  max-width: 438px;
  min-width: 438px;
}

.b4 {
  color: #000
}


/*..................................................frame 5...........................*/


.frame5 {
  background-color: #fff;
  border: 0.5px solid #ccc;
  height: 440px;
  border-radius: 40px;
  width: 976px;
  min-width: 976px;
  max-width: 976px;
  display: flex;
  align-items: flex-start;
  position: relative;
  margin: 40px auto 0px auto;

}

.s5 {
  width: 318px;
  height: 340px;
  align-self: last baseline;
  position: relative;
  margin: 0px 0px 0px 80px;
}

.para5 {
  font-size: 22px;
  color: #808084;
  line-height: 1.6;
  margin: auto 0px auto 60px;
  width: 438px;
  max-width: 438px;
  min-width: 438px;

}


.b5 {
  color: #000
}


/*..................................................frame 6...........................*/

.frame6 {
  
  background-color: #fff;
  border: 0.5px solid #ccc;
  height: fit-content;
  border-radius: 40px;
  width: 976px;
  min-width: 976px;
  max-width: 976px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  position: relative;
  margin: 40px auto 0px auto;
  
}

.frame6 p {
  font-size: 22px;
  color: #333;
  margin: 0px 0px 20px 60px;
  max-width: 850px;
}

/* Two small images side by side */
.store-buttons {
  display: flex;
  gap: 10px;
  margin: 0px 0px 30px 60px;
}

.store-buttons img {
  
  height: 60px;
  display: block;
  
}

/* Big image below, with spacing from sides */
.mac-image-wrapper {
  display: flex;
  justify-content: center;
  align-items: flex-end;
  margin: 0px 0px 0px 60px;
  /* align image to baseline visually */
}

.mac-big {
  width: 100%;
  max-width: 800px;
  /* control max size */
  height: auto;
  object-fit: contain;
}

.para6 {
  padding-top: 30px;
  font-size: 22px;
  line-height: 142%;
  color: #808084;
  font-weight: 400;
}

.b6 {
  color: #000
}

/*................................over.........................................................*/

.main {
  max-width: 743px;
  margin: 0 auto;
  padding: 30px;
  font-family: sans-serif;
  color: black;
  line-height: 1.6;
}

a {
  color: black;
  text-decoration: underline;
}

.links {
  font-size: 17px;
  margin: 0px;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: black;
}

.footer {
  max-width: 743px;
  position: relative;
  margin: 0px auto 0px auto;
  padding-bottom: 40px;
}

.footer-content {
  height: fit-content;
  width: 743px;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: start;
  gap: 20px;

}

.footer-link {
  font-size: 17px;
  font-weight: 400px;
}





/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 20px;
    color: #000;
    background-color: #fbfaf8;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }

  .header-section {
     
    display: flex;
    align-items: center;
    flex-direction: column;
    
  }

  .logo {
    display: block;
    margin: 0px auto;
    width: 100px;
    height: 100px;
    margin-top: 30px;
    border-radius: 23px;
    border: .5px solid #c4c4c4;
    box-shadow: 0px 4px 10px rgba(0, 0, 0, .04);
  }



  .main-heading {
  font-weight: 700;
  font-size: 24px;
  color: #1a1c1f;
  text-align: center;
  margin: 26px auto;
  max-width: 92%;
  width:92%;
  min-width: 92%;
  
}


  .apple-button {
    text-align: center;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 12px;
    position: relative;
    margin: 0px auto 0px auto;
    height: fit-content;
    width: fit-content;
    
  }

  .apple-button img {
    /* margin: 0px;
    background: red; */
    display: block;
    width: 100%;
    min-width: 100%;
  }


  /*..................................................frame 1...........................*/

  .white-frame {
    background-color: #fbfbfb;
    border: 0.5px solid #ccc;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: 586px;
    border-radius: 40px;
    padding-left: 10px;
    padding-right: 10px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
    margin: 60px auto 0px auto;
    padding-top: 30px;
  }

  .screenshot {
    position: relative;
    width: 318px;
    min-width: 318px;
    height: 388px;
    min-height: 388px;
    align-self: last baseline;
    margin: 0px auto 0px auto;
  }

  .screenshot-para {
    font-size: 19px;
    color: #808084;
    line-height: 1.6;
    position: relative;
    margin: 20px auto 0px auto;
    max-width: 318px;
    min-width: 318px;
    max-width: 318px;
  }

  .b1 {
    color: #000
  }

  /*..................................................frame 2...........................*/
  .frame2 {
    background-color: #fff;
    border: 0.5px solid #ccc;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: 586px;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 30px auto 0px auto;
    padding-top: 30px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .s2 {
    width: 318px;
    align-self: last baseline;
    position: relative;
    height: 388px;
    min-height: 388px;
    margin: 0px auto 0px auto;
  }

  .para2 {
    font-size: 19px;
    color: #808084;
    line-height: 1.6;
    position: relative;
    margin: 0px auto 0px auto;
    max-width: 318px;
    min-width: 318px;
    max-width: 318px;
  }

  .b2 {
    color: #000
  }


  /*..................................................frame 3...........................*/

  .frame3 {
    background-color: #fff;
    border: 0.5px solid #ccc;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: 687px;
    border-radius: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
    margin: 30px auto 0px auto;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;
  }

  .s3 {
    width: 318px;
    min-width: 318px;
    max-width: 318px;
    height: 388px;
    align-self: last baseline;
    position: relative;
    margin: 0px auto 0px auto;
  }

  .para3 {
    font-size: 19px;
    color: #808084;
    line-height: 1.6;
    position: relative;
    margin: 0px auto 0px auto;
    width: 328px;
    max-width: 328px;
    min-width: 328px;
  }

  .b3 {
    color: #000
  }


  /*..................................................frame 4...........................*/

  .frame4 {
    background-color: #fff;
    border: 0.5px solid #ccc;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: fit-content;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 30px auto 0px auto;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;
  }

  .s4 {
    width: 318px;
    min-width: 318px;
    max-width: 318px;
    height: 388px;
    align-self: last baseline;
    position: relative;
    margin: 0px auto 0px auto;
  }

  .para4 {
    font-size: 19px;
    color: #808084;
    line-height: 1.6;
    position: relative;
    margin: 20px auto 0px auto;
    width: 328px;
    max-width: 328px;
    min-width: 328px;
  }

  .b4 {
    color: #000
  }


  /*..................................................frame 5...........................*/


  .frame5 {
    background-color: #fff;
    border: 0.5px solid #ccc;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: fit-content;
    border-radius: 40px;
    display: flex;
    flex-direction: column-reverse;
    align-items: flex-start;
    position: relative;
    margin: 30px auto 0px auto;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;

  }

  .s5 {
    width: 318px;
    min-width: 318px;
    max-width: 318px;
    height: 388px;
    align-self: last baseline;
    position: relative;
    margin: 0px auto 0px auto;
  }

  .para5 {
    font-size: 19px;
    color: #808084;
    line-height: 1.6;
    position: relative;
    margin: 20px auto 0px auto;
    width: 328px;
    max-width: 328px;
    min-width: 328px;

  }


  .b5 {
    color: #000
  }


  /*..................................................frame 6...........................*/

  .frame6 {
   
    background-color: #fff;
    border: 0.5px solid #ccc;
    width: 90%;
    min-width: 90%;
    max-width: 90%;
    height: fit-content;
    border-radius: 40px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    position: relative;
    margin: 30px auto 0px auto;
    padding-top: 0px;
    padding-left: 10px;
    padding-right: 10px;
    gap: 30px;

  }

  .frame6 p {
    font-size: 20px;
    color: #333;
    margin: 0px auto 20px auto;
    max-width: 318px;
  }

  /* Two small images side by side */
  .store-buttons {
    display: flex;
    flex-direction: column;
    align-items: start;
    gap: 10px;
    margin: 0px 0px 30px 12px;
  }

  .store-buttons img {
    height: 50px;
    display: block;
  }

  /* Big image below, with spacing from sides */
  .mac-image-wrapper {
    display: flex;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    margin: 0px 0px 0px 20px;
  }

  .mac-big {
    width: 100%;
    height: 100%;
    object-fit: contain;
  }

  .para6 {
    padding-top: 30px;
    font-size: 20px;
    color: #808084;
    font-weight: 400;
    
  }

  .b6 {
    color: #000
  }

  /*................................over.........................................................*/

  .main {
    max-width: 92%;
    min-width: 92%;
    width: 92%;
    margin: 0 auto;
    padding: 0px;
    font-family: sans-serif;
    color: black;
    line-height: 1.6;
  }

   

  a {
    color: black;
    text-decoration: underline;
  }

  .links {
    font-size: 17px;
    margin: 0px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: black;
  }

  .footer {
    max-width: 92%;
    position: relative;
    margin: 0px auto 0px auto;
  }

  .footer-content {
    height: fit-content;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    flex-wrap: wrap;
    gap: 15px;

  }

  .footer-link {
    font-size: 17px;
    font-weight: 400px;
  }


}


@media (min-width: 481px) and (max-width: 767px) {

  /* CSS */

  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }

  body {
    font-size: 20px;
    color: #000;
    background-color: red;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }


}